@import "tailwindcss";

body{
      font-family: "Geist", sans-serif;
}

.high{
      padding-inline: 20px;
      background-color: rgb(249, 207, 207);
      color: red;
      border-radius: 40px;
}
.medium{
       padding-inline: 20px;
      background-color:rgb(250, 236, 155);
      color: rgb(240, 125, 1);
      border-radius: 40px;
}
.low{
       padding-inline: 20px;
      background-color: rgb(224, 224, 224);
      color: rgb(97, 96, 96);
      border-radius: 40px;
}

